<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.file.originalName%></title>
</head>
<body>
    <h1><%= locals.file.originalName%></h1>
    <hr>
    <ul>
        <li>Name: <%=file.originalName%></li>
        <li>Content Type: <%=file.contentType%></li>
        <li>Size: <%=file.size%></li>
        <li>Uploaded At: <%=file.uploadedAt%></li>
    </ul>
</body>
</html>