<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome back <%= locals.user.firstName%></h1>
    <p>Check out your <a href="/profile">profile</a>!</p>
    <hr>
    <h2>Create new folder</h2>
    <%- include('partials/errors', {errors:locals.errors}) %>
    <form action="/folders/create" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <button type="submit">Create</button>
    </form>
    <h2>Upload new file</h2>
    <%- include('partials/errors', {errors:locals.fileErrors}) %>
    <form action="/files/upload" method="post" enctype="multipart/form-data">
        <label for="name">file:</label>
        <input type="file" name="file" id="name" required>
        <button type="submit">Upload</button>
    </form>
    <hr>
    <ul>
    <% user.folders?.forEach((folder)=>{%>
        <% if(!folder.parentId){%>
            <li>
                <a href="/folders/<%=folder.id%>">/<%=folder.name%></a>
                <hr>
            </li>
        <%}%>
    <%})%>

    <% user.files?.forEach((file)=>{%>
        <% if(!file.folderId){%>
            <li>
                <%=file.originalName%> <a href="/files/<%=file.id%>">View details</a> <a href="/files/<%=file.id%>/download">Download</a>
                <form action="/files/<%=file.id%>/delete" method="post"><button type="submit">Delete</button></form>
                <hr>
            </li>
        <%}%>
    <%})%>
    </ul>
</body>
</html>