<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.folder.name%></title>
</head>
<body>
    <h1><%= locals.folder.name%></h1>
    <a href="/folders/<%= locals.folder.id %>/edit">Edit</a>
    <form action="/folders/<%= locals.folder.id %>/delete" method="post"> <button type="submit">Delete</button></form>
    <hr>
    <h2>Create new folder</h2>
    <%- include('../partials/errors', {errors:locals.errors}) %>
    <form action="/folders/<%=locals.folder.id%>/create" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <button type="submit">Create</button>
    </form>
    <h2>Upload new file</h2>
    <%- include('../partials/errors', {errors:locals.errors}) %>
    <form action="/folders/<%=locals.folder.id%>/files/upload" method="post" enctype="multipart/form-data">
        <label for="name">file:</label>
        <input type="file" name="file" id="name" required>
        <button type="submit">Upload</button>
    </form>
    <hr>
    <ul>
    <% locals.folder.folders?.forEach((folder)=>{%>
            <li>
                <a href="/folders/<%=folder.id%>">/<%=folder.name%></a>
                <hr>
            </li>
    <%})%>
    <% locals.folder.files?.forEach((file)=>{%>
            <li>
                 <%=file.originalName%> <a href="/files/<%=file.id%>">View details</a> <a href="/files/<%=file.id%>/download">Download</a>
                <form action="/files/<%=file.id%>/delete" method="post"><button type="submit">Delete</button></form>
                <hr>
            </li>
    <%})%>
    </ul>
</body>
</html>